@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer components {
	input[type='number'] {
		@apply h-min! w-17! rounded-xs leading-[2]!;
	}
	input[type='text'] {
		@apply h-min! rounded-xs! leading-[2]!;
	}
	button {
		@apply h-min! rounded-xs! leading-[2]!;
	}
}

:root {
	--foreground: oklch(15% 0.1 70);
	--foreground-gray: oklch(50% 0.01 70);
	--background-gray: oklch(92% 0.015 70);
	--background: oklch(97% .01 70);

	--accent-color: oklch(60% 0.15 140);
	--disabled-color: oklch(75% 0.01 70);
	--line-thickness: round(0.15em, 1px);

	background-color: var(--background)
}
